<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "head.html" %}
    <title>防疫政策</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    {% include "navigation.html" %}
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">国内部分城市防疫政策</h1>
                <p class="lead fw-normal text-muted mb-0">最近更新时间：</p>
            </div>
            <div class="row gx-5">
                <div class="col-xl-4">
                    <div class="card border-0 bg-light mt-xl-5">
                        <div class="card-body p-4 py-lg-5">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-center">
                                    <div class="h6 fw-bolder"></div>
                                    <input id="key" type="text" class="form-control" placeholder="省份 城市"/>
                                    <br/>
                                    <button class="btn btn-secondary" type="button" onclick="next()">搜索</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- FAQ Accordion 1-->
                    <h2 class="fw-bolder mb-3">省1</h2>
                    <div class="accordion mb-5" id="accordionExample">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <strong>城市1</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <strong>低风险</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            48H核酸
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            健康码
                                        </li>
                                        <li class="mb-2">
                                            <strong>中高风险，无核酸</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            集中隔离14天
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            居家隔离7天
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <strong>城市2</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸，隔离14天</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    <strong>城市3</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸，隔离14天</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="fw-bolder mb-3">省2</h2>
                    <div class="accordion mb-5" id="accordionExample">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <strong>城市1</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <strong>低风险</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            48H核酸
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            健康码
                                        </li>
                                        <li class="mb-2">
                                            <strong>中高风险，无核酸</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            集中隔离14天
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            居家隔离7天
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <strong>城市2</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸，隔离14天</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    <strong>城市3</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸，隔离14天</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="fw-bolder mb-3">省3</h2>
                    <div class="accordion mb-5" id="accordionExample">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <strong>城市1</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <strong>低风险</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            48H核酸
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            健康码
                                        </li>
                                        <li class="mb-2">
                                            <strong>中高风险，无核酸</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            集中隔离14天
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            居家隔离7天
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <strong>城市2</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸，隔离14天</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    <strong>城市3</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸，隔离14天</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="fw-bolder mb-3">省4</h2>
                    <div class="accordion mb-5" id="accordionExample">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <strong>城市1</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <strong>低风险</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            48H核酸
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            健康码
                                        </li>
                                        <li class="mb-2">
                                            <strong>中高风险，无核酸</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            集中隔离14天
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            居家隔离7天
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <strong>城市2</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸，隔离14天</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    <strong>城市3</strong>&nbsp;&nbsp;&nbsp;<div>48H核酸，隔离14天</div>
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
{% include "footer.html" %}
{% include "script.html" %}
<script type="text/javascript">
    var oldKey = "";//查询框能搜索，定位，高亮目标
    var index = -1;
    var pos = new Array();//用于记录每个关键词的位置，以方便跳转
    var oldCount = 0;//记录搜索到的所有关键词总数

    function previous(){
        index--;
        index = index < 0 ? oldCount - 1 : index;
        search();
    }

    function next(){
        index++;
        //index = index == oldCount ? 0 : index;
        if(index==oldCount){
            index = 0 ;
        }
        search();
    }

    function search() {
        $(".result").removeClass("res");//去除原本的res样式
        var key = $("#key").val(); //取key值
        if (!key) {
            $(".result").each(function () {//恢复原始数据
                $(this).replaceWith($(this).html());
            });
            oldKey = "";
            return; //key为空则退出
        }
        if (oldKey != key) {
            //重置
            index = 0;
            $(".result").each(function () {
                $(this).replaceWith($(this).html());
            });
            pos = new Array();
            var regExp = new RegExp(key+'(?=(</strong)|(</h))', 'ig');//正则表达式匹配
            $("body").html($("body").html().replace(regExp, "<span id='result" + index + "' class='result'>" + key + "</span>")); // 高亮操作
            index = 0;
            $("#key").val(key);
            oldKey = key;
            $(".result").each(function () {
                pos.push($(this).offset().top);
            });
            oldCount = $(".result").length;
        }
        $("html,body").scrollTop(pos[index]);//跳转到指定位置
    }

    document.onkeydown = function(e) {  //使next button响应回车事件
        if((e||event).keyCode==13)
            next();
    };
</script>
<style type="text/css">
    .res
    {
        color: Red;
    }
    .result
    {
        background: yellow;
    }
</style>
</body>
</html>
